{% extends 'imagersite/base.html' %}
{% load thumbnail %}
{% block body %}
    <h3>Your Albums</h3>

    <ul class="thumbList">
        {% for album in albums %}
        <li>
            {% if album.cover.image %}
                {% thumbnail album.cover.image "100x100" crop="center" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                {% endthumbnail %}
            {% else %}
                <img src="http://placehold.it/100x100" alt="No Cover">
            {% endif %}
            <a href="{% url 'imager_images:album' album.id %}">{{ album.title }}</a>
        {% endfor %}
        </li>
    </ul>
{% endblock %}
