{% extends 'imagersite/base.html' %}
{% load thumbnail %}
{% block body %}
    <h2>{{ user.username }}'s Image Library</h2>
    <h3>Albums:</h3>
    <ul class="thumbList">
        {% for album in albums %}
        <li>
            {% if album.cover.image %}
                {% thumbnail album.cover.image "100x100" crop="center" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                {% endthumbnail %}
            {% else %}
                <img src="http://placehold.it/100x100" alt="No Cover">
            {% endif %}
            <a href="{% url 'imager_images:album' album.id %}">{{album.title}}</a>
            <a href="{% url 'imager_images:edit_album' album.id %}">Edit Album</a>
        {% endfor %}
        </li>
    </ul>
    <h5>Single Images:</h5>
    <ul class="thumbList">
        {% for photo in photos %}
        <li>
            {% thumbnail photo.image "100x100" crop="center" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
            {% endthumbnail %}

            <a href="{% url 'imager_images:photo' photo.id %}">{{ photo.title }}</a>
            <a href="{% url 'imager_images:edit_photo' photo.id %}">Edit Photo</a>
        {% endfor %}
        </li>
    </ul>
    <a href="{% url 'imager_images:add_photo' %}"><button type="button">Add Image</button></a>
    <a href="{% url 'imager_images:add_album' %}"><button type="button">Add Album</button></a>
{% endblock %}